:root {
  --main-color: white;
  --second-color: #2b7a78;

  --second-acent: #def2f1;
  --grey: #9db3b2;
  --white-color: #fff;
  --text-color: rgb(22, 22, 22);
}

body {
  background-color: var(--main-color);
  span,
  li,
  input,
  textarea {
    color: var(--text-color);
  }
}

.kalkulator {
  background-color: var(--second-color);
}

.kalk-kupur {
  background-color: var(--second-color);

  .cupuru label {
    color: var(--second-acent);
  }
}

@mixin inputStyle() {
  background-color: var(--second-acent);
}

.tabs {
  background-color: var(--second-acent);
}

.tabs .tab-item.active {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* kalk-kupur */

.result {
  background-color: var(--second-acent);

  span {
    color: var(--second-acent);
  }

  * {
    color: var(--text-color);
    background-color: #1c1d1c;
  }

  textarea {
    color: var(--second-acent);
  }
}

.button {
  color: var(--text-color);
  background-color: var(--white-color);
}

.button:hover {
  background-color: var(--grey);
}

.button:active,
.buttons-group input[type="radio"]:checked + .button,
.checkbox-group input[type="checkbox"]:checked + .button {
  background-color: var(--grey);
}

/* dop-info */

.percent {
  background-color: var(--second-color);
}
/* range */

.percent .label {
  background-color: var(--main-color);
  color: var(--second-acent);
}

.theme-switcher {
  .buttons-group {
    background-color: var(--second-color);
  }

  .switcher-advanced {
    background-color: var(--second-color);
  }
}

.daily-casa {
  background-color: var(--second-color);
}
