:root {
  --main-color: #17252a;
  --second-color: #2b7a78;

  --calculator-color: #def2f1;
  --label-color: #def2f1;

  --button-text-color: #def2f1;
  --speeduton-color: #def2f1;

  --active-color: #9db3b2;
  --button-color: #fff;

  --zapas-color: black;
}



body {
  background-color: var(--main-color);
}

  .checkbox-group span,
  .save span,
  li,
  textarea {
    color: var(--button-text-color);
  }




.kalk-kupur .cupuru label ,
span{
    color: var(--label-color);
}


.result {
  background-color: var(--calculator-color);

  span,
  textarea {
    color: var(--calculator-color);
  }
}

.button {
  color: var(--button-text-color);
  background-color: var(--button-color);
}


.button:hover ,
.button:active,
.buttons-group input[type="radio"]:checked + .button,
.checkbox-group input[type="checkbox"]:checked + .button {
  background-color: var(--active-color);
}

/* dop-info */

.percent span,
.speedbuton,
.daily-casa input ,
#rezult,
#procentSum
{
  color: var(--zapas-color);
  background-color: var(--calculator-color);
}
/* range */

.percent .label {
  background-color: var(--main-color);
  color: var(--label-color);
}

  .buttons-group , .switcher-advanced , .daily-casa, 
  .kalkulator,.percent {
    background-color: var(--second-color);
  }
