
body {
    $font-size: 20px;
  
    transition: 1s;
    &.theme1 {

  --main-color: #17252a;
  --second-color: #2b7a78;

  --calculator-color: #def2f1;
  --label-color: #def2f1;

  --button-text-color: #000000;
  // --speeduton-color: #def2f1;

  --active-color: #9db3b2;
  --button-color: #fff;

  --zapas-color: black;
  
  }
  &.theme2 {
  --main-color: #130101;
  --second-color: #411f1f;

  --calculator-color: #c0c0c0;
  --label-color: #fdfdfd;

  --button-text-color: #000000;
  // --speeduton-color: #def2f1;

  --active-color: #7c5c5c;
  --button-color: rgb(204, 204, 204);

  --zapas-color: black;
  }
  
  &.theme3 {
    --main-color: #2a1725;
    --second-color: #7a2b7a;
  
    --calculator-color: #f2def0;
    --label-color: #ffffff;
  
    --button-text-color: #000000;
    // --speeduton-color: #def2f1;
  
    --active-color: #b39dae;
    --button-color: #fff;
  
    --zapas-color: black;
    }
    
  &.theme4 {
    --main-color: #172a2a;
    --second-color: #2b7a55;
  
    --calculator-color: #def2eb;
    --label-color: #def2f1;
  
    --button-text-color: #000000;
    // --speeduton-color: #def2f1;
  
    --active-color: #9db3a7;
    --button-color: #fff;
  
    --zapas-color: black;
    }
  &.theme5 {
    --main-color: #181818;
    --second-color: #000000;
  
    --calculator-color: #ffb067;
    --label-color: #def2f1;
  
    --button-text-color: #000000;
    // --speeduton-color: #def2f1;
  
    --active-color: #ffffff;
    --button-color: rgb(255, 153, 0);
  
    --zapas-color: black;
    }
  &.theme6 {
    --main-color: #1d3238;
    --second-color: #86e5ff;
  
    --calculator-color: #f8f8f8;
    --label-color: #000000;
  
    --button-text-color: #ffffff;
    // --speeduton-color: #def2f1;
  
    --active-color: #c3fffc;
    --button-color: #1d3238;
  
    --zapas-color: black;
    }
  &.theme7 {
    --main-color: #303030;
    --second-color: #b6b6b6;
  
    --calculator-color: #adadad;
    --label-color: #000000;
  
    --button-text-color: #ffffff;
    // --speeduton-color: #def2f1;
  
    --active-color: #616161;
    --button-color: #202020;
  
    --zapas-color: black;
    }
  &.theme8 {
    --main-color: #3c6255;
    --second-color: #0e1a15;
  
    --calculator-color: #7ca395;
    --label-color: #ffffff;
  
    --button-text-color: #ffffff;
    // --speeduton-color: #def2f1;
  
    --active-color: #9db3a6;
    --button-color: #305045;
  
    --zapas-color: black;
    }
  
    &.theme9 {
      transition: 1s;
      }
    
  
  
  
  
  }